*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
*/
nav
{
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background: green;
}

.companyname
{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

.topmenu
{
    list-style: none;
    list-style-type: none;
    display: flex;
    margin: 30%;
}

.topmenu li
{
    margin-left: 10px;
}

.topmenu li a
{
    text-decoration: none;
    color: white;
}

.topmenu li a:hover
{
    color:#ccc
}

.searchbar
{
    width: 335px;
    background: white;
    border-radius: 15px;
    border-style: solid;
    display: flex;
}
.searchbar input
{
    background: none;
    border: none;
    padding-left: 10px;
    width: 200px;
    height: 25px;
}
.searchbar button
{
    color: white;
    padding: 0px 10px;
    background-color: rgb(10, 120, 87);
    border-radius: 8px;
}