*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav
{
    width: 100%;
    height: 75px;
    background-color: rgba(2, 97, 92, 0.589);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.companyname
{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.topmenu
{
    width: 65%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.topmenu li
{
    margin-left: 20px;
}
.topmenu li a
{
    font-size: 19px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.topmenu li a:hover
{
    color: #ccc;
}

.searchbar
{
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.searchbar form
{
    display: flex;
    margin: 0px;
}

.searchbar input
{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.searchbar input:hover
{
    border: 1px solid #72a0d4;
}

.searchbar button
{
    padding: 10px;
    background: white;
    border: none;
    border-radius: 10px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.searchbar button:hover
{
    background: #ccc;

}